.nohave{
    background-color: antiquewhite;
    color: #777;
    padding: 10px;
    border:none;
    border-radius: 4px;
    outline: none;
}
.yeshave{
    outline: none;
    background-color: lightgreen;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
